/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-toast.md-THEME_NAME-theme {
  background-color: #323232;
  color: '{{background-50}}'; }
  md-toast.md-THEME_NAME-theme .md-button {
    color: '{{background-50}}'; }
    md-toast.md-THEME_NAME-theme .md-button.md-highlight {
      color: '{{primary-A200}}'; }
      md-toast.md-THEME_NAME-theme .md-button.md-highlight.md-accent {
        color: '{{accent-A200}}'; }
      md-toast.md-THEME_NAME-theme .md-button.md-highlight.md-warn {
        color: '{{warn-A200}}'; }
