<md-dialog aria-label="Event Details">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Booking Details</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-toolbar class="md-warn" ng-if="error">
        <h1 class="md-toolbar-tools">
            Error: {{errorMessage}}
        </h1>
    </md-toolbar>
    <md-dialog-content>
        <table flex>
            <tr flex>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            <tr ng-show="!dataLoading" ng-repeat="event in events">
                <!--<td>{{event.eventId}}</td>-->
                <!--<td>{{event.name}}</td>-->
                <td>{{event.startDate | date}}</td>
                <td>{{event.startDate | date:'HH:mm'}}</td>
                <td>{{event.endDate | date:'HH:mm'}}</td>
            </tr>
        </table><p class="md-body-1" ng-show="noBookingsFound">There are no bookings at this location.</p>
    </md-dialog-content>

    <md-progress-circular md-mode="indeterminate" ng-show="dataLoading"></md-progress-circular>
    <div class="md-actions" layout="row">
        <md-button ng-click="close()" style="margin-right:20px;">
            Close
        </md-button>
    </div>
</md-dialog>