/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-backdrop {
  background-color: '{{background-900-0.0}}'; }
  md-backdrop.md-opaque.md-THEME_NAME-theme {
    background-color: '{{background-900-0.48}}'; }
  md-backdrop.md-opaque.md-THEME_NAME-theme.ng-enter {
    background-color: '{{background-900-0.0}}'; }
    md-backdrop.md-opaque.md-THEME_NAME-theme.ng-enter.md-opaque.md-THEME_NAME-theme.ng-enter-active {
      background-color: '{{background-900-0.48}}'; }
  md-backdrop.md-opaque.md-THEME_NAME-theme.ng-leave.md-opaque.md-THEME_NAME-theme.ng-leave-active {
    background-color: '{{background-900-0.0}}'; }
