<div layout="column" style="padding-bottom: 32px; margin: 20px;
  padding: 20px;">
    <h1 class="md-title">Register</h1>
    <md-whiteframe class="md-whiteframe-z2" layout layout-align="left center" style="padding-bottom: 32px; margin: 20px;
  padding: 20px;">
        <form name="registerForm" ng-submit="vm.register()">
            <md-toolbar class="md-warn" ng-if="loginError">
                <h1 class="md-toolbar-tools">
                    Error. Please change your username and try again.
                </h1>
            </md-toolbar>
            <md-input-container>
                <label>Username</label>
                <input name="username" ng-model="vm.user.username" required minlength="4">
                <div ng-messages="registerForm.username.$error" ng-show="registerForm.username.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input name="email" ng-model="vm.user.email" required type="email">
                <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input name="password" ng-model="vm.user.password" required type="password">
                <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <div layout="row">
                <md-button class="md-raised md-primary" type="submit" class="button buttonBlue" ng-disabled="registerForm.$invalid">
                    Register
                </md-button>
                <md-button ng-href="#/login">Cancel</md-button>
            </div>
            <md-progress-circular md-mode="indeterminate" ng-if="vm.dataLoading"></md-progress-circular>
        </form>
    </md-whiteframe>
</div>
