<div layout="column" flex="50">
  <h1 class="md-display-3">Cancel Event</h1>
  <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" style="padding-bottom: 32px; margin: 20px;
  padding: 20px;">

    <md-content flex layout-padding>
        <md-toolbar class="md-warn" ng-if="vm.error">
          <h1 class="md-toolbar-tools">
                {{vm.errorMessage}}
        </h1>
        </md-toolbar>
        <form name="cancelBooking" ng-submit="vm.cancelBooking()">            
          <div layout="column">
            <md-input-container>
              <label>Insert your booking ID</label>
              <input name="bookingId" id="bookingId" ng-model="vm.bookingId" required>
            </md-input-container>
            <div ng-messages="cancelBooking.bookingId.$error" ng-show="cancelBooking.bookingId.$dirty"></div>
          </div>
          <div layout="row" layout-align="start center">
            <md-button class="md-raised md-primary" type="submit" class="button buttonBlue" type="submit" ng-disabled="cancelBooking.$invalid || vm.dataLoading">
              Cancel booking
            </md-button>
          </div>
          <div class="form-actions" layout="row">
            <md-progress-circular ng-if="vm.dataLoading" md-mode="indeterminate"></md-progress-circular>
          </div>

          <div>
            <p ng-show="vm.showResponse">Your booking has been cancelled. An email has been sent to the location owner.</p>
          </div>
        </form>
        <md-progress-linear md-mode="indeterminate" ng-if="vm.dataLoading"></md-progress-linear>
    </md-content>
  </md-whiteframe>
</div>