/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-bottom-sheet.md-THEME_NAME-theme {
  background-color: '{{background-50}}';
  border-top-color: '{{background-300}}'; }
  md-bottom-sheet.md-THEME_NAME-theme.md-list md-list-item {
    color: '{{foreground-1}}'; }
  md-bottom-sheet.md-THEME_NAME-theme .md-subheader {
    background-color: '{{background-50}}'; }
  md-bottom-sheet.md-THEME_NAME-theme .md-subheader {
    color: '{{foreground-1}}'; }
