/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-menu-content.md-THEME_NAME-theme {
  background-color: '{{background-color}}'; }
  md-menu-content.md-THEME_NAME-theme md-menu-divider {
    background-color: '{{foreground-4}}'; }
