/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-chips.md-THEME_NAME-theme .md-chips {
  box-shadow: 0 1px '{{background-300}}'; }
  md-chips.md-THEME_NAME-theme .md-chips.md-focused {
    box-shadow: 0 2px '{{primary-color}}'; }
md-chips.md-THEME_NAME-theme .md-chip {
  background: '{{background-300}}';
  color: '{{background-800}}'; }
  md-chips.md-THEME_NAME-theme .md-chip.md-focused {
    background: '{{primary-color}}';
    color: '{{primary-contrast}}'; }
    md-chips.md-THEME_NAME-theme .md-chip.md-focused md-icon {
      color: '{{primary-contrast}}'; }
md-chips.md-THEME_NAME-theme md-chip-remove .md-button md-icon path {
  fill: '{{background-500}}'; }

.md-contact-suggestion span.md-contact-email {
  color: '{{background-400}}'; }
