/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-card.md-THEME_NAME-theme {
  background-color: '{{background-color}}';
  border-radius: 2px; }
  md-card.md-THEME_NAME-theme .md-card-image {
    border-radius: 2px 2px 0 0; }
