/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-card {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084); }
  md-card > img, md-card > :not(md-card-content) img {
    width: 100%; }
  md-card md-card-content {
    padding: 16px; }
  md-card .md-actions {
    margin: 0; }
    md-card .md-actions .md-button {
      margin-bottom: 8px;
      margin-top: 8px;
      margin-right: 4px;
      margin-left: 4px; }
  md-card md-card-footer {
    padding: 16px; }

@media screen and (-ms-high-contrast: active) {
  md-card {
    border: 1px solid #fff; } }
