<md-dialog aria-label="Location Details">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Location Details</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-toolbar class="md-warn" ng-if="error">
        <h1 class="md-toolbar-tools">
            {{errorMessage}}
        </h1>
    </md-toolbar>
    <md-dialog-content ng-show="!dataLoading">
        <p>Name: {{location.name}}</p>
        <p>Owner: {{location.owner}}</p>
        <p>Address: {{location.address}}</p>
        <p>Area: {{location.area}}</p>
        <p>Description: {{location.description}}</p>
    </md-dialog-content>
    <md-progress-circular md-mode="indeterminate" ng-if="dataLoading"></md-progress-circular>
    <div class="md-actions" layout="row">
        <md-button ng-click="close()" style="margin-right:20px;">
            Close
        </md-button>
    </div>
</md-dialog>