/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-slider.md-THEME_NAME-theme .md-track {
  background-color: '{{foreground-3}}'; }
md-slider.md-THEME_NAME-theme .md-track-ticks {
  background-color: '{{foreground-4}}'; }
md-slider.md-THEME_NAME-theme .md-focus-thumb {
  background-color: '{{foreground-2}}'; }
md-slider.md-THEME_NAME-theme .md-focus-ring {
  background-color: '{{accent-color}}'; }
md-slider.md-THEME_NAME-theme .md-disabled-thumb {
  border-color: '{{background-color}}'; }
md-slider.md-THEME_NAME-theme.md-min .md-thumb:after {
  background-color: '{{background-color}}'; }
md-slider.md-THEME_NAME-theme .md-track.md-track-fill {
  background-color: '{{accent-color}}'; }
md-slider.md-THEME_NAME-theme .md-thumb:after {
  border-color: '{{accent-color}}';
  background-color: '{{accent-color}}'; }
md-slider.md-THEME_NAME-theme .md-sign {
  background-color: '{{accent-color}}'; }
  md-slider.md-THEME_NAME-theme .md-sign:after {
    border-top-color: '{{accent-color}}'; }
md-slider.md-THEME_NAME-theme .md-thumb-text {
  color: '{{accent-contrast}}'; }
md-slider.md-THEME_NAME-theme.md-warn .md-focus-ring {
  background-color: '{{warn-color}}'; }
md-slider.md-THEME_NAME-theme.md-warn .md-track.md-track-fill {
  background-color: '{{warn-color}}'; }
md-slider.md-THEME_NAME-theme.md-warn .md-thumb:after {
  border-color: '{{warn-color}}';
  background-color: '{{warn-color}}'; }
md-slider.md-THEME_NAME-theme.md-warn .md-sign {
  background-color: '{{warn-color}}'; }
  md-slider.md-THEME_NAME-theme.md-warn .md-sign:after {
    border-top-color: '{{warn-color}}'; }
md-slider.md-THEME_NAME-theme.md-warn .md-thumb-text {
  color: '{{warn-contrast}}'; }
md-slider.md-THEME_NAME-theme.md-primary .md-focus-ring {
  background-color: '{{primary-color}}'; }
md-slider.md-THEME_NAME-theme.md-primary .md-track.md-track-fill {
  background-color: '{{primary-color}}'; }
md-slider.md-THEME_NAME-theme.md-primary .md-thumb:after {
  border-color: '{{primary-color}}';
  background-color: '{{primary-color}}'; }
md-slider.md-THEME_NAME-theme.md-primary .md-sign {
  background-color: '{{primary-color}}'; }
  md-slider.md-THEME_NAME-theme.md-primary .md-sign:after {
    border-top-color: '{{primary-color}}'; }
md-slider.md-THEME_NAME-theme.md-primary .md-thumb-text {
  color: '{{primary-contrast}}'; }
md-slider.md-THEME_NAME-theme[disabled] .md-thumb:after {
  border-color: '{{foreground-3}}'; }
md-slider.md-THEME_NAME-theme[disabled]:not(.md-min) .md-thumb:after {
  background-color: '{{foreground-3}}'; }
