<div layout="row" flex="80">
  <md-content>
    <header layout="column" layout-align="center center">
      <h1 class="md-display-4">Location Booking Service</h1>
      <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
        <md-button href="/#login">Login</md-button>
        <md-button href="/#register">Register</md-button>
        <md-button href="/#booking">Book a Location</md-button>
        <md-button href="/#bookingStatus">Cancel Existing Booking</md-button>
      </section>
    </header>
  </md-content>
</div>