<div layout="column" flex="50">
  <h1 class="md-title">Add a new location</h1>
  <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" style="padding-bottom: 32px; margin: 20px;
  padding: 20px;">

    <md-content flex layout-padding>
      <form name="addLocationForm" ng-submit="vm.addLocation()">
        <md-toolbar class="md-warn" ng-if="vm.error">
          <h1 class="md-toolbar-tools">
                {{vm.errorMessage}}
        </h1>
        </md-toolbar>
          <div layout="column">
            <md-input-container>
              <label>Name</label>
              <input ng-model="vm.name" md-maxlength="50" required name="name">
            </md-input-container>
            <div ng-messages="addLocationForm.name.$error" ng-show="addLocationForm.name.$dirty"></div>
            <md-input-container>
              <label>Address</label>
              <input ng-model="vm.address" required>
            </md-input-container>
            <div ng-messages="addLocationForm.name.$error" ng-show="addLocationForm.name.$dirty"></div>
            <md-input-container>
              <label>Area</label>
              <input ng-model="vm.area" required>
            </md-input-container>
            <div>
              <md-input-container>
                <label>Description</label>
                <textarea ng-model="vm.description" columns="10" md-maxlength="150" required></textarea>
              </md-input-container>
            </div>
          </div>
          <div layout="row" layout-align="start center">
        <md-button class="md-raised md-primary" type="submit" class="button buttonBlue">
          Add to my locations
        </md-button>
        <md-button class="md-raised" href="#/userhome">
          Cancel
        </md-button>
        </div>
      </form>
      <md-progress-linear md-mode="indeterminate" ng-if="vm.dataLoading"></md-progress-linear>
    </md-content>
  </md-whiteframe>
</div>
