/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
@-webkit-keyframes outer-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes outer-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes left-wobble {
  0%, 100% {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg); }

  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); } }

@keyframes left-wobble {
  0%, 100% {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg); }

  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); } }

@-webkit-keyframes right-wobble {
  0%, 100% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg); }

  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); } }

@keyframes right-wobble {
  0%, 100% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg); }

  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); } }

@-webkit-keyframes sporadic-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

  25% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }

  37.5% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg); }

  50% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg); }

  62.5% {
    -webkit-transform: rotate(675deg);
            transform: rotate(675deg); }

  75% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg); }

  87.5% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg); }

  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg); } }

@keyframes sporadic-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

  25% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }

  37.5% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg); }

  50% {
    -webkit-transform: rotate(540deg);
            transform: rotate(540deg); }

  62.5% {
    -webkit-transform: rotate(675deg);
            transform: rotate(675deg); }

  75% {
    -webkit-transform: rotate(810deg);
            transform: rotate(810deg); }

  87.5% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg); }

  100% {
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg); } }

md-progress-circular {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  overflow: hidden; }
  md-progress-circular .md-inner {
    width: 50px;
    height: 50px;
    position: relative; }
    md-progress-circular .md-inner .md-gap {
      position: absolute;
      left: 24px;
      right: 24px;
      top: 0;
      bottom: 0;
      border-top-width: 5px;
      border-top-style: solid;
      box-sizing: border-box; }
    md-progress-circular .md-inner .md-left, md-progress-circular .md-inner .md-right {
      position: absolute;
      top: 0;
      height: 50px;
      width: 25px;
      overflow: hidden; }
      md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
        position: absolute;
        top: 0;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border-width: 5px;
        border-style: solid;
        border-bottom-color: transparent;
        border-radius: 50%; }
    md-progress-circular .md-inner .md-left {
      left: 0; }
      md-progress-circular .md-inner .md-left .md-half-circle {
        left: 0;
        border-right-color: transparent; }
    md-progress-circular .md-inner .md-right {
      right: 0; }
      md-progress-circular .md-inner .md-right .md-half-circle {
        right: 0;
        border-left-color: transparent; }
  md-progress-circular[value="0"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="0"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  md-progress-circular[value="0"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="1"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="1"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-131.4deg);
            transform: rotate(-131.4deg); }
  md-progress-circular[value="1"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="2"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="2"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-127.8deg);
            transform: rotate(-127.8deg); }
  md-progress-circular[value="2"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="3"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="3"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-124.2deg);
            transform: rotate(-124.2deg); }
  md-progress-circular[value="3"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="4"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="4"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-120.6deg);
            transform: rotate(-120.6deg); }
  md-progress-circular[value="4"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="5"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="5"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-117deg);
            transform: rotate(-117deg); }
  md-progress-circular[value="5"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="6"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="6"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-113.4deg);
            transform: rotate(-113.4deg); }
  md-progress-circular[value="6"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="7"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="7"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-109.8deg);
            transform: rotate(-109.8deg); }
  md-progress-circular[value="7"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="8"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="8"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-106.2deg);
            transform: rotate(-106.2deg); }
  md-progress-circular[value="8"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="9"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="9"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-102.6deg);
            transform: rotate(-102.6deg); }
  md-progress-circular[value="9"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="10"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="10"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-99deg);
            transform: rotate(-99deg); }
  md-progress-circular[value="10"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="11"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="11"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-95.4deg);
            transform: rotate(-95.4deg); }
  md-progress-circular[value="11"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="12"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="12"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-91.8deg);
            transform: rotate(-91.8deg); }
  md-progress-circular[value="12"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="13"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="13"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-88.2deg);
            transform: rotate(-88.2deg); }
  md-progress-circular[value="13"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="14"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="14"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-84.6deg);
            transform: rotate(-84.6deg); }
  md-progress-circular[value="14"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="15"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="15"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-81deg);
            transform: rotate(-81deg); }
  md-progress-circular[value="15"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="16"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="16"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-77.4deg);
            transform: rotate(-77.4deg); }
  md-progress-circular[value="16"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="17"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="17"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-73.8deg);
            transform: rotate(-73.8deg); }
  md-progress-circular[value="17"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="18"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="18"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-70.2deg);
            transform: rotate(-70.2deg); }
  md-progress-circular[value="18"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="19"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="19"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-66.6deg);
            transform: rotate(-66.6deg); }
  md-progress-circular[value="19"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="20"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="20"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-63deg);
            transform: rotate(-63deg); }
  md-progress-circular[value="20"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="21"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="21"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-59.4deg);
            transform: rotate(-59.4deg); }
  md-progress-circular[value="21"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="22"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="22"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-55.8deg);
            transform: rotate(-55.8deg); }
  md-progress-circular[value="22"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="23"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="23"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-52.2deg);
            transform: rotate(-52.2deg); }
  md-progress-circular[value="23"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="24"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="24"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-48.6deg);
            transform: rotate(-48.6deg); }
  md-progress-circular[value="24"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="25"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="25"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  md-progress-circular[value="25"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="26"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="26"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-41.4deg);
            transform: rotate(-41.4deg); }
  md-progress-circular[value="26"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="27"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="27"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-37.8deg);
            transform: rotate(-37.8deg); }
  md-progress-circular[value="27"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="28"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="28"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-34.2deg);
            transform: rotate(-34.2deg); }
  md-progress-circular[value="28"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="29"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="29"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-30.6deg);
            transform: rotate(-30.6deg); }
  md-progress-circular[value="29"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="30"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="30"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-27deg);
            transform: rotate(-27deg); }
  md-progress-circular[value="30"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="31"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="31"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-23.4deg);
            transform: rotate(-23.4deg); }
  md-progress-circular[value="31"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="32"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="32"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-19.8deg);
            transform: rotate(-19.8deg); }
  md-progress-circular[value="32"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="33"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="33"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-16.2deg);
            transform: rotate(-16.2deg); }
  md-progress-circular[value="33"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="34"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="34"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-12.6deg);
            transform: rotate(-12.6deg); }
  md-progress-circular[value="34"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="35"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="35"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-9deg);
            transform: rotate(-9deg); }
  md-progress-circular[value="35"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="36"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="36"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-5.4deg);
            transform: rotate(-5.4deg); }
  md-progress-circular[value="36"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="37"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="37"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(-1.8deg);
            transform: rotate(-1.8deg); }
  md-progress-circular[value="37"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="38"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="38"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(1.8deg);
            transform: rotate(1.8deg); }
  md-progress-circular[value="38"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="39"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="39"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(5.4deg);
            transform: rotate(5.4deg); }
  md-progress-circular[value="39"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="40"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="40"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg); }
  md-progress-circular[value="40"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="41"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="41"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(12.6deg);
            transform: rotate(12.6deg); }
  md-progress-circular[value="41"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="42"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="42"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(16.2deg);
            transform: rotate(16.2deg); }
  md-progress-circular[value="42"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="43"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="43"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(19.8deg);
            transform: rotate(19.8deg); }
  md-progress-circular[value="43"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="44"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="44"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(23.4deg);
            transform: rotate(23.4deg); }
  md-progress-circular[value="44"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="45"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="45"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(27deg);
            transform: rotate(27deg); }
  md-progress-circular[value="45"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="46"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="46"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(30.6deg);
            transform: rotate(30.6deg); }
  md-progress-circular[value="46"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="47"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="47"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(34.2deg);
            transform: rotate(34.2deg); }
  md-progress-circular[value="47"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="48"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="48"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(37.8deg);
            transform: rotate(37.8deg); }
  md-progress-circular[value="48"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="49"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="49"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(41.4deg);
            transform: rotate(41.4deg); }
  md-progress-circular[value="49"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="50"] .md-inner .md-left .md-half-circle {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  md-progress-circular[value="50"] .md-inner .md-right .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="50"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: transparent !important; }
  md-progress-circular[value="51"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(138.6deg);
            transform: rotate(138.6deg); }
  md-progress-circular[value="51"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="51"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="52"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(142.2deg);
            transform: rotate(142.2deg); }
  md-progress-circular[value="52"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="52"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="53"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(145.8deg);
            transform: rotate(145.8deg); }
  md-progress-circular[value="53"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="53"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="54"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(149.4deg);
            transform: rotate(149.4deg); }
  md-progress-circular[value="54"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="54"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="55"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(153deg);
            transform: rotate(153deg); }
  md-progress-circular[value="55"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="55"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="56"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(156.6deg);
            transform: rotate(156.6deg); }
  md-progress-circular[value="56"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="56"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="57"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(160.2deg);
            transform: rotate(160.2deg); }
  md-progress-circular[value="57"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="57"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="58"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(163.8deg);
            transform: rotate(163.8deg); }
  md-progress-circular[value="58"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="58"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="59"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(167.4deg);
            transform: rotate(167.4deg); }
  md-progress-circular[value="59"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="59"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="60"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(171deg);
            transform: rotate(171deg); }
  md-progress-circular[value="60"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="60"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="61"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(174.6deg);
            transform: rotate(174.6deg); }
  md-progress-circular[value="61"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="61"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="62"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(178.2deg);
            transform: rotate(178.2deg); }
  md-progress-circular[value="62"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="62"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="63"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(181.8deg);
            transform: rotate(181.8deg); }
  md-progress-circular[value="63"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="63"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="64"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(185.4deg);
            transform: rotate(185.4deg); }
  md-progress-circular[value="64"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="64"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="65"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(189deg);
            transform: rotate(189deg); }
  md-progress-circular[value="65"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="65"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="66"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(192.6deg);
            transform: rotate(192.6deg); }
  md-progress-circular[value="66"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="66"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="67"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(196.2deg);
            transform: rotate(196.2deg); }
  md-progress-circular[value="67"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="67"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="68"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(199.8deg);
            transform: rotate(199.8deg); }
  md-progress-circular[value="68"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="68"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="69"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(203.4deg);
            transform: rotate(203.4deg); }
  md-progress-circular[value="69"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="69"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="70"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(207deg);
            transform: rotate(207deg); }
  md-progress-circular[value="70"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="70"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="71"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(210.6deg);
            transform: rotate(210.6deg); }
  md-progress-circular[value="71"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="71"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="72"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(214.2deg);
            transform: rotate(214.2deg); }
  md-progress-circular[value="72"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="72"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="73"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(217.8deg);
            transform: rotate(217.8deg); }
  md-progress-circular[value="73"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="73"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="74"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(221.4deg);
            transform: rotate(221.4deg); }
  md-progress-circular[value="74"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="74"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="75"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  md-progress-circular[value="75"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="75"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="76"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(228.6deg);
            transform: rotate(228.6deg); }
  md-progress-circular[value="76"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="76"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="77"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(232.2deg);
            transform: rotate(232.2deg); }
  md-progress-circular[value="77"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="77"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="78"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(235.8deg);
            transform: rotate(235.8deg); }
  md-progress-circular[value="78"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="78"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="79"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(239.4deg);
            transform: rotate(239.4deg); }
  md-progress-circular[value="79"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="79"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="80"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(243deg);
            transform: rotate(243deg); }
  md-progress-circular[value="80"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="80"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="81"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(246.6deg);
            transform: rotate(246.6deg); }
  md-progress-circular[value="81"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="81"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="82"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(250.2deg);
            transform: rotate(250.2deg); }
  md-progress-circular[value="82"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="82"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="83"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(253.8deg);
            transform: rotate(253.8deg); }
  md-progress-circular[value="83"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="83"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="84"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(257.4deg);
            transform: rotate(257.4deg); }
  md-progress-circular[value="84"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="84"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="85"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(261deg);
            transform: rotate(261deg); }
  md-progress-circular[value="85"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="85"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="86"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(264.6deg);
            transform: rotate(264.6deg); }
  md-progress-circular[value="86"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="86"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="87"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(268.2deg);
            transform: rotate(268.2deg); }
  md-progress-circular[value="87"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="87"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="88"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(271.8deg);
            transform: rotate(271.8deg); }
  md-progress-circular[value="88"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="88"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="89"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(275.4deg);
            transform: rotate(275.4deg); }
  md-progress-circular[value="89"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="89"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="90"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(279deg);
            transform: rotate(279deg); }
  md-progress-circular[value="90"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="90"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="91"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(282.6deg);
            transform: rotate(282.6deg); }
  md-progress-circular[value="91"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="91"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="92"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(286.2deg);
            transform: rotate(286.2deg); }
  md-progress-circular[value="92"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="92"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="93"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(289.8deg);
            transform: rotate(289.8deg); }
  md-progress-circular[value="93"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="93"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="94"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(293.4deg);
            transform: rotate(293.4deg); }
  md-progress-circular[value="94"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="94"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="95"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(297deg);
            transform: rotate(297deg); }
  md-progress-circular[value="95"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="95"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="96"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(300.6deg);
            transform: rotate(300.6deg); }
  md-progress-circular[value="96"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="96"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="97"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(304.2deg);
            transform: rotate(304.2deg); }
  md-progress-circular[value="97"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="97"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="98"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(307.8deg);
            transform: rotate(307.8deg); }
  md-progress-circular[value="98"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="98"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="99"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(311.4deg);
            transform: rotate(311.4deg); }
  md-progress-circular[value="99"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="99"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[value="100"] .md-inner .md-left .md-half-circle {
    transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  md-progress-circular[value="100"] .md-inner .md-right .md-half-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  md-progress-circular[value="100"] .md-inner .md-gap {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: border-bottom-color 0.1s linear; }
  md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper {
    -webkit-animation: outer-rotate 2.91667s linear infinite;
            animation: outer-rotate 2.91667s linear infinite; }
    md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner {
      -webkit-animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;
              animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite; }
      md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-left .md-half-circle, md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-right .md-half-circle {
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-duration: 1.3125s;
                animation-duration: 1.3125s;
        -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
                animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1); }
      md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-left .md-half-circle {
        -webkit-animation-name: left-wobble;
                animation-name: left-wobble; }
      md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-right .md-half-circle {
        -webkit-animation-name: right-wobble;
                animation-name: right-wobble; }

.ng-hide md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper, md-progress-circular.ng-hide[md-mode=indeterminate] .md-spinner-wrapper {
  -webkit-animation: none;
          animation: none; }
  .ng-hide md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner, md-progress-circular.ng-hide[md-mode=indeterminate] .md-spinner-wrapper .md-inner {
    -webkit-animation: none;
            animation: none; }
    .ng-hide md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-left .md-half-circle, md-progress-circular.ng-hide[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-left .md-half-circle {
      -webkit-animation-name: none;
              animation-name: none; }
    .ng-hide md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-right .md-half-circle, md-progress-circular.ng-hide[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-right .md-half-circle {
      -webkit-animation-name: none;
              animation-name: none; }
