/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-progress-circular.md-THEME_NAME-theme {
  background-color: transparent; }
  md-progress-circular.md-THEME_NAME-theme .md-inner .md-gap {
    border-top-color: '{{primary-color}}';
    border-bottom-color: '{{primary-color}}'; }
  md-progress-circular.md-THEME_NAME-theme .md-inner .md-left .md-half-circle, md-progress-circular.md-THEME_NAME-theme .md-inner .md-right .md-half-circle {
    border-top-color: '{{primary-color}}'; }
  md-progress-circular.md-THEME_NAME-theme .md-inner .md-right .md-half-circle {
    border-right-color: '{{primary-color}}'; }
  md-progress-circular.md-THEME_NAME-theme .md-inner .md-left .md-half-circle {
    border-left-color: '{{primary-color}}'; }
  md-progress-circular.md-THEME_NAME-theme.md-warn .md-inner .md-gap {
    border-top-color: '{{warn-color}}';
    border-bottom-color: '{{warn-color}}'; }
  md-progress-circular.md-THEME_NAME-theme.md-warn .md-inner .md-left .md-half-circle, md-progress-circular.md-THEME_NAME-theme.md-warn .md-inner .md-right .md-half-circle {
    border-top-color: '{{warn-color}}'; }
  md-progress-circular.md-THEME_NAME-theme.md-warn .md-inner .md-right .md-half-circle {
    border-right-color: '{{warn-color}}'; }
  md-progress-circular.md-THEME_NAME-theme.md-warn .md-inner .md-left .md-half-circle {
    border-left-color: '{{warn-color}}'; }
  md-progress-circular.md-THEME_NAME-theme.md-accent .md-inner .md-gap {
    border-top-color: '{{accent-color}}';
    border-bottom-color: '{{accent-color}}'; }
  md-progress-circular.md-THEME_NAME-theme.md-accent .md-inner .md-left .md-half-circle, md-progress-circular.md-THEME_NAME-theme.md-accent .md-inner .md-right .md-half-circle {
    border-top-color: '{{accent-color}}'; }
  md-progress-circular.md-THEME_NAME-theme.md-accent .md-inner .md-right .md-half-circle {
    border-right-color: '{{accent-color}}'; }
  md-progress-circular.md-THEME_NAME-theme.md-accent .md-inner .md-left .md-half-circle {
    border-left-color: '{{accent-color}}'; }
