/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-icon.md-THEME_NAME-theme {
  color: '{{foreground-2}}'; }
  md-icon.md-THEME_NAME-theme.md-primary {
    color: '{{primary-color}}'; }
  md-icon.md-THEME_NAME-theme.md-accent {
    color: '{{accent-color}}'; }
  md-icon.md-THEME_NAME-theme.md-warn {
    color: '{{warn-color}}'; }
