<div layout="column" flex="70">
  <header layout="row" layout-align="start center">
    <h1 class="md-display-3">Hi {{vm.user.username}}!</h1>
    <md-button href="#/login" class="md-raised md-warn">Logout</md-button>
  </header>
    <md-content layout-padding>
        <md-toolbar class="md-warn" ng-if="vm.error">
            <h1 class="md-toolbar-tools">
                {{vm.errorMessage}}
            </h1>
        </md-toolbar>
        <div layout="row" layout-align="space-between center">
            <h2 class="md-headline">Your locations</h2>
            <span flex></span>
            <md-button href="#/addlocation" class="md-fab md-mini md-primary">+</md-button>
        </div>
        <md-list>
            <div ng-repeat="location in vm.locations">
                <md-list-item>
                    <p>{{location.name}}</p>
                    <md-button ng-click="vm.showLocationDetails(location)">Info</md-button>
                    <md-button ng-click="vm.showBookingDetails(location)">Bookings</md-button>
                </md-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
        <md-progress-circular md-mode="indeterminate" ng-if="vm.dataLoading"></md-progress-circular>
    </md-content>
</div>