/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-autocomplete.md-THEME_NAME-theme {
  background: '{{background-50}}'; }
  md-autocomplete.md-THEME_NAME-theme[disabled] {
    background: '{{background-100}}'; }
  md-autocomplete.md-THEME_NAME-theme button md-icon path {
    fill: '{{background-600}}'; }
  md-autocomplete.md-THEME_NAME-theme button:after {
    background: '{{background-600-0.3}}'; }

.md-autocomplete-suggestions.md-THEME_NAME-theme {
  background: '{{background-50}}'; }
  .md-autocomplete-suggestions.md-THEME_NAME-theme li {
    color: '{{background-900}}'; }
    .md-autocomplete-suggestions.md-THEME_NAME-theme li .highlight {
      color: '{{background-600}}'; }
    .md-autocomplete-suggestions.md-THEME_NAME-theme li:hover, .md-autocomplete-suggestions.md-THEME_NAME-theme li.selected {
      background: '{{background-200}}'; }
