/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-tabs.md-THEME_NAME-theme md-tabs-wrapper {
  background-color: transparent;
  border-color: '{{foreground-4}}'; }
md-tabs.md-THEME_NAME-theme .md-paginator md-icon {
  color: '{{primary-color}}'; }
md-tabs.md-THEME_NAME-theme md-ink-bar {
  color: '{{accent-color}}';
  background: '{{accent-color}}'; }
md-tabs.md-THEME_NAME-theme .md-tab {
  color: '{{foreground-2}}'; }
  md-tabs.md-THEME_NAME-theme .md-tab[disabled] {
    color: '{{foreground-3}}'; }
  md-tabs.md-THEME_NAME-theme .md-tab.md-active, md-tabs.md-THEME_NAME-theme .md-tab.md-focused {
    color: '{{primary-color}}'; }
  md-tabs.md-THEME_NAME-theme .md-tab.md-focused {
    background: '{{primary-color-0.1}}'; }
  md-tabs.md-THEME_NAME-theme .md-tab .md-ripple-container {
    color: '{{accent-100}}'; }
md-tabs.md-THEME_NAME-theme.md-accent > md-tabs-wrapper {
  background-color: '{{accent-color}}'; }
  md-tabs.md-THEME_NAME-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: '{{accent-100}}'; }
    md-tabs.md-THEME_NAME-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs.md-THEME_NAME-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      color: '{{accent-contrast}}'; }
    md-tabs.md-THEME_NAME-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      background: '{{accent-contrast-0.1}}'; }
  md-tabs.md-THEME_NAME-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
    color: '{{primary-600-1}}';
    background: '{{primary-600-1}}'; }
md-tabs.md-THEME_NAME-theme.md-primary > md-tabs-wrapper {
  background-color: '{{primary-color}}'; }
  md-tabs.md-THEME_NAME-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: '{{primary-100}}'; }
    md-tabs.md-THEME_NAME-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs.md-THEME_NAME-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      color: '{{primary-contrast}}'; }
    md-tabs.md-THEME_NAME-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      background: '{{primary-contrast-0.1}}'; }
md-tabs.md-THEME_NAME-theme.md-warn > md-tabs-wrapper {
  background-color: '{{warn-color}}'; }
  md-tabs.md-THEME_NAME-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: '{{warn-100}}'; }
    md-tabs.md-THEME_NAME-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs.md-THEME_NAME-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      color: '{{warn-contrast}}'; }
    md-tabs.md-THEME_NAME-theme.md-warn > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      background: '{{warn-contrast-0.1}}'; }

md-toolbar > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper {
  background-color: '{{primary-color}}'; }
  md-toolbar > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: '{{primary-100}}'; }
    md-toolbar > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      color: '{{primary-contrast}}'; }
    md-toolbar > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      background: '{{primary-contrast-0.1}}'; }

md-toolbar.md-accent > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper {
  background-color: '{{accent-color}}'; }
  md-toolbar.md-accent > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: '{{accent-100}}'; }
    md-toolbar.md-accent > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-accent > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      color: '{{accent-contrast}}'; }
    md-toolbar.md-accent > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      background: '{{accent-contrast-0.1}}'; }
  md-toolbar.md-accent > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
    color: '{{primary-600-1}}';
    background: '{{primary-600-1}}'; }

md-toolbar.md-warn > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper {
  background-color: '{{warn-color}}'; }
  md-toolbar.md-warn > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: '{{warn-100}}'; }
    md-toolbar.md-warn > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      color: '{{warn-contrast}}'; }
    md-toolbar.md-warn > md-tabs.md-THEME_NAME-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
      background: '{{warn-contrast-0.1}}'; }
