<div layout="column" flex="70" id="popupContainer">
  <h1 class="md-title">Book a Location</h1>
  <md-whiteframe class="md-whiteframe-z2" layout layout-align="space-around center" style="padding-bottom: 32px; margin: 20px;
  padding: 20px;">

    <md-content flex layout-padding>
      <form name="findLocationsForm" ng-submit="vm.findLocations()">
        <md-toolbar class="md-warn" ng-if="vm.error">
          <h1 class="md-toolbar-tools">
                {{vm.errorMessage}}
        </h1>
        </md-toolbar>


        <div layout="row" layout-align="space-around center">

          <!--First Column-->
          <div layout="column" layout-align="start center">

            <!--User Section-->
            <!--<h3 class="md-title">User</h3>-->
            <md-input-container required>
              <label>First name</label>
              <input ng-model="vm.user.firstName">
            </md-input-container>
            <md-input-container require>
              <label>Last Name</label>
              <input ng-model="vm.user.lastName">
            </md-input-container>
            <md-input-container>
              <label>Email</label>
              <input ng-model="vm.user.email" required type="email">
            </md-input-container>
          </div>

          <!--Second Column-->
          <div layout="column">

            <!--Date Section-->
            <h3 class="md-title">Choose date</h3>
            <md-datepicker required ng-model="vm.date" md-placeholder="Enter date"></md-datepicker>
            <md-divider></md-divider>


            <!--Time Section-->
            <div layout="column">

              <!--Start-->
              <h4 class="md-title">Start Time</h4>
              <div layout="row">
                <md-input-container>
                  <label>Hour</label>
                  <md-select ng-model="vm.time.start.hours" required>
                    <md-option ng-repeat="hour in vm.timeChoices.hours" value="{{hour}}">{{hour}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>Minutes</label>
                  <md-select ng-model="vm.time.start.minutes" required>
                    <md-option ng-repeat="minutes in vm.timeChoices.minutes" value="{{minutes}}">{{minutes}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <md-select ng-model="vm.time.start.amOrPm" required>
                    <md-option value="am" ng-selected="true">AM</md-option>
                    <md-option value="pm">PM</md-option>
                  </md-select>
                </md-input-container>
              </div>

              <!--End-->
              <h4 class="md-title">End Time</h4>
              <div layout="row">
                <md-input-container>
                  <label>Hour</label>
                  <md-select ng-model="vm.time.end.hours" required>
                    <md-option ng-repeat="hour in vm.timeChoices.hours" value="{{hour}}">{{hour}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>Minutes</label>
                  <md-select ng-model="vm.time.end.minutes" required>
                    <md-option ng-repeat="minutes in vm.timeChoices.minutes" value="{{minutes}}">{{minutes}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <md-select ng-model="vm.time.end.amOrPm" required>
                    <md-option value="am" ng-selected="true">AM</md-option>
                    <md-option value="pm">PM</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>

          </div>
        </div>


        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary" type="submit" class="button buttonBlue" ng-disabled="findLocationsForm.$invalid">
            See available locations
          </md-button>
        </div>
      </form>
      <md-progress-circular md-mode="indeterminate" ng-if="vm.dataLoading"></md-progress-circular>
    </md-content>
  </md-whiteframe>
  <div ng-if="vm.showLocations">
    <md-whiteframe class="md-whiteframe-z2" layout layout-align="left center" style="padding-bottom: 32px; margin: 20px;
  padding: 20px;">
      <h1 class="md-subhead" ng-if="vm.locations.length === 0">No locations found.</h1>
      <div ng-if="vm.locations.length > 0">
        <form name="submitLocationForm" ng-submit="vm.submitLocation()">
          <!--<md-input-container>
            <md-radio-group required ng-model="vm.selectedLocationID">
              <md-radio-button ng-repeat="location in vm.locations" ng-value="location.id">{{location.name}}</md-radio-button>
            </md-radio-group>
          </md-input-container>-->


          <md-list>
            <md-radio-group required ng-model="vm.selectedLocationID">
              <div ng-repeat="location in vm.locations">

                <md-list-item>
                  <md-radio-button ng-value="location.id">{{location.name}}</md-radio-button>
                  <md-button type="button" ng-click="vm.showLocationDetails(location)">Info</md-button>
                </md-list-item>

                <md-divider></md-divider>
              </div>
            </md-radio-group>
          </md-list>


          <md-button class="md-raised md-primary" type="submit" class="button buttonBlue" ng-disabled="submitLocationForm.$invalid">
            Book
          </md-button>
        </form>
      </div>
    </md-whiteframe>
  </div>
</div>