/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-dialog.md-THEME_NAME-theme {
  border-radius: 4px;
  background-color: '{{background-color}}'; }
  md-dialog.md-THEME_NAME-theme.md-content-overflow .md-actions {
    border-top-color: '{{foreground-4}}'; }
