/*!
 * Angular Material Design
 * https://github.com/angular/material
 * @license MIT
 * v0.10.1-master-6f31200
 */
md-tooltip.md-THEME_NAME-theme {
  color: '{{background-A100}}'; }
  md-tooltip.md-THEME_NAME-theme .md-background {
    background-color: '{{foreground-2}}'; }
